﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
<<<<<<< HEAD
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
=======
    No way<br />
    Reddy Mouldy <br />
>>>>>>> 8e42b19f22de518a2384647865b1ae54132ec67c
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
